#content {
    margin: -20px 20px 0;
    min-height: 300px;

    div.platter {
        max-width: 1440px;
        margin: 0 auto;
        padding: 100px 20px;
        position: relative;
        background-color: $blue_light;

        article.content-page {

            min-height: 350px;
            padding: 40px 4%;
            max-width: 960px;
            margin: 0 auto;
            background-color: $white;

            h1, h2, h3, h4, h5, h6, p {
                max-width: 768px;
            }

            h1 {
                font-size: 1.6em;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                line-height: 2em;
                padding-bottom: 10px;
                color: $blue;
            }

            p {

            }
        }
    }
}

.page-template-default {
    #content {
        margin-top: 120px;
        display: block;
        padding: 0;
    }
}

h1, h2, h3, h4 {
    font-family: $abrade-light;
}

h5, h6 {
    font-family: $garamond-bold;
}

p {
    font-family: $garamond-ligth;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    color: $black;
}

@media only screen and (max-width: 767px) {

    body > header {
        background-color: transparent;
    }

    #content {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 8px;

        div.platter {
            padding: 40px 4%;
        }
    }
}