body > header {
    width: 100%;
    z-index: 1000;
    color: $black;
    font-family: $abrade-light;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: $white;

    div {
        max-width: 1440px;
        margin: 20px auto;
        padding: 0 20px;

        & > ul {
            display: inline-block;
            width: 100%;
            text-align: right;

            li {
                display: inline-block;
                vertical-align: top;
                letter-spacing: 0.2em;
                margin: 0 20px;
                padding-top: 7px;

                &:first-of-type {
                    padding-left: 0;
                    margin-right: 10px;
                    float: left;
                    padding-top: 0px;
                    margin-left: 0;

                    a {
                        width: 160px;
                        height: 61px;
                        top: 0;
                        display: inline-block;
                        background-image: url('images/logo_gw.png');
                        background-position: left center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        text-indent: 9999px;
                        overflow: hidden;
                        float: none;
                        white-space: nowrap;
                        padding: 0;
                        margin-bottom: 0;

                        &:hover {
                            background-color: transparent;
                            opacity: 0.7;
                        }

                        &:active {
                            background-color: transparent;
                        }
                    }
                }

                &:last-of-type {
                    padding-right: 0;
                    margin-right: 0;

                    a {
                        padding-right: 0;
                    }
                }

                &:nth-of-type(2) {
                    a {
                    }
                }

                &.current-menu-item,
                &.current-page-ancestor,
                &.current-menu-ancestor {
                    a {
                        color: $blue;
                    }
                }

                ul {
                    display: none;
                }

                a {
                    color: $blue_dark;
                    text-decoration: none;
                    font-size: 1.1em;
                    display: block;
                    height: 100%;
                    padding: 7px 12px 0;
                    line-height: 36px;
                    margin-bottom: 10px;

                    &:hover {
                        color: $blue;
                    }
                }

                &#iahm a {
                    padding-left: 7px;
                    margin-left: 3px;

                }

                &#burger {
                    display: none;
                    width: 30px;
                    height: 25px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-image: url('../images/burger_white.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin: 12px 10px 0 0;

                    a:hover {
                        background-color: transparent;
                    }
                }
            }
        }

    }


    @media only screen and (max-width: 1300px) {
        div ul li {
            margin: 0 10px;

            a {
                padding: 5px;
            }
        }
    }

    @media only screen and (max-width: 5000px) {

        div {

            ul {
                display: none;
                position: fixed;
                top: 0px;
                right: 0px;
                height: 100%;
                bottom: 0;
                max-width: 260px;
                width: 100%;
                background-color: $white;
                z-index: 300;
                padding-top: 70px;

                &.show {
                    display: block;

                    ul {
                        display: none;
                    }
                }

                li {
                    display: block;
                    margin: 0;
                    text-align: left;
                    padding-left: 20px;

                    &:first-of-type {
                        display: none;
                    }

                }
            }

        }

        #simple_logo {
            display: block;
            width: 161px;
            height: 60px;
            position: absolute;
            left: 30px;
            top: 30px;
            background-image: url('images/logo_gw_white.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0;
            z-index: 1000;

            a:hover {
                background-color: transparent;
            }
        }

        #burger {
            display: block;
            width: 30px;
            height: 48px;
            position: absolute;
            right: 40px;
            top: 30px;
            background-image: url('images/burger_white.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0;
            z-index: 1000;

            &.open {
                background-image: url('images/close_blue.png');
            }

            a:hover {
                background-color: transparent;
            }
        }
    }

    @media only screen and (max-width: 640px) {

        #simple_logo {
            top: 20px;
            left: 4%;
            width: 80px;
            height: 30px;
        }

        #burger {
            right: 4%;
            top: 10px;
        }

        div {

            ul {
                right: 0;
                max-width: inherit;
                position: absolute;
                bottom: inherit;
                height: auto;

                li a {
                    padding-left: 10px;
                }
            }
        }
    }
}
